.list-card {
    height: fit-content;
    width: 500px;
    margin: auto;
}
.list-items {
    font-size: large;
    font-weight: 200;
}
.todo {
    border-bottom: 1px solid white;
    padding-left: 40px;
    margin-top: 15px;
    width: 100%;
    display: inline-block;
}